body{
    background: rgb(22,0,74);
    background: radial-gradient(circle, rgba(22,0,74,1) 48%, rgba(5,0,17,1) 61%, rgba(5,0,17,1) 100%);
    color: white;
    font-family: 'Bogle', sans-serif;
    font-size: 20px;

}




.mtDivs{
    margin-top: 80px;
}



#myVideo {
    left: 0;
    top: 0;
    max-width: 100%;
    text-align: center;


  }

  .main-video{
      background-color: black;

  }

  h2{
      text-align: center;
      padding:15px;
      font-weight: bold;
  }

  .nav-link:hover{
    text-decoration: underline;
}

  .navbar {
      background-color: rgba(0,0,0,0) !important;
  }

  .nav-item, .nav-link, .navbar-toggler-icon {
    color: white !important;
  }   

  footer{
    background-color: rgba(5,0,17,1);   
  }

 img {
     border-radius: 30px;
     transition: all .5s ease-in-out;
 }

 img:hover{
    transform: scale(1.05) rotateZ(0.5deg);
}


 .main-text{
     font-size: 32px;
 }